{% extends 'base.html.twig' %}

{% block stylesheets %}

<link href="{{ asset('css/homesuite.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block title %}{% endblock %}

{% block body %}
<div class="big_pic">
   <div class="next">
   <h4>La suite</h4>
   <p>Nous avons volontairement cloisonné les groupes pour que les personnes qui le veulent puissent se sentir plus en confiance, sans peur d'être jugé par d'autres ne partageant pas ses mêmes critères.</p>
   </div>
   <div class="what">
   <h4>Lorem ipsum dolor sit amet.</h4>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi exercitationem ea quibusdam nostrum facere optio, fuga veritatis consequatur qui quo hic eaque nihil praesentium in iste natus suscipit consequuntur aut. Sapiente architecto delectus, vel asperiores culpa veritatis laborum ab deleniti!</p>
   </div>
   <div class="groups">
   <h4>Lorem ipsum dolor sit amet.</h4>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos porro neque reiciendis ducimus, nisi earum asperiores libero corrupti, corporis iusto reprehenderit magni eum dolorem voluptate dolores accusantium facilis. Qui beatae necessitatibus ad velit consequuntur aliquam, mollitia quisquam temporibus ducimus iste!</p>
   </div>
   <div class="infos">
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
   </div>
   
</div>

{% endblock %}

{% block javascripts %}{% endblock %}