{% extends 'base.html.twig' %}

{% block stylesheets %}

<link href="{{ asset('css/homegroups.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block title %}{% endblock %}

{% block body %}
<div class="card-deck">
<div class="card-deck3">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Femmes racisées</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero tempore deleniti aut nemo praesentium. Est unde quibusdam quos sunt recusandae adipisci quaerat animi reprehenderit. Totam reiciendis voluptas amet cupiditate?</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hommes racisés</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, rem veritatis quia fugit odit optio, fugiat, quo consectetur ad exercitationem ullam ducimus mollitia voluptas sit laboriosam rerum maiores eos corrupti!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lesbiennes/Gays/Bi</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non accusantium beatae, fugiat quibusdam minus fuga enim natus fugit quo, ducimus eveniet odit, assumenda exercitationem hic. Ipsum odit id accusamus veritatis!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
  <div class="card-deck3">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Transgenres</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum itaque deleniti facere nostrum velit voluptatibus. Sapiente vero commodi amet. Quia, praesentium consectetur? Delectus, tenetur culpa sit excepturi perferendis quae natus.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Queer</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione incidunt repellat nesciunt vero id, debitis praesentium molestias veniam hic porro qui optio necessitatibus error corrupti quos suscipit nulla itaque a.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Neurodivers</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem excepturi, odit earum consequatur, perferendis quis deserunt labore dolorum recusandae placeat architecto nostrum. Aperiam, deserunt beatae corporis animi incidunt sunt pariatur!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
  <div class="card-deck3">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Zèbres</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam itaque eius nemo ex sunt quasi quidem asperiores, officiis cum similique accusantium rerum harum assumenda iusto, dolor vero voluptatibus repudiandae id?</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Personnes handicapées</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, reprehenderit ratione architecto excepturi cupiditate molestiae obcaecati est eos inventore possimus perspiciatis delectus? Quod libero totam eligendi! Distinctio delectus quam libero!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut a vel aperiam distinctio est eius illum id sit nam ad voluptates, hic ratione quidem assumenda adipisci? Reiciendis ex dolorum quae.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
  <div class="card-deck3">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eaque placeat corrupti autem dignissimos aut ea nulla ex minima doloremque vitae, debitis voluptates culpa illum ipsum delectus natus eos recusandae.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla rerum totam, libero error suscipit omnis temporibus quia deserunt quibusdam aliquam adipisci magni mollitia facere accusamus architecto? Ipsum libero dolorum fuga.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum voluptates facilis cumque, animi consequatur temporibus commodi possimus dolor praesentium recusandae porro enim minima voluptatem incidunt quos, accusantium ullam quidem. Tenetur?</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}