html, body {
    background: #FFFCEE;
}

.main-container {
    align-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 100px;
}

.container-top {
    display: grid;
    margin-top: 100px;
    margin-bottom: 50px;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(14, 60px);
    grid-area: photo;
}

.photo {
    grid-column: 5/13;
    grid-row: 1/9;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    opacity: .8;
}

.topic {
    grid-column: 3/ 15;
    grid-row: 4/ 6;
    background: rgba(253, 89, 89, 0.8);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px; 
    font-size: 2em;
}

.inital {
    grid-column: 7/ 11;
    grid-row: 7/ 11;
    background: rgba(255, 135, 135, 0.7);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.retour {
    grid-column: 2/3;
    grid-row: 1/2;
}

.fas {
    color: #000;
}
.eve-comments p {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

.eve-comments {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
}

.avatar {
    border-radius: 50%;
    height: 60px;
    margin: 20px;
}

.comments-posts {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: auto;
    width: 70%;
    background: rgb(250, 250, 250);
}

hr {
    width: 80%;
    margin: auto;
}

#post_contentPost {
    width: 50%;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
    font-size: .8em;
    background: rgb(250, 250, 250);
}
#posts, .btn{
    margin: auto;
}

#post_save {
    width: 50%;
    margin: auto;
}

.btn.focus, .btn:focus, .btn-primary {
    margin: 20px 0;
    color: #000;
    background-color: rgb(255, 238, 162);
    border-color: rgb(216, 201, 133);
}

.btn-primary:hover {
    background-color: #FFFCEE;
    border-color: rgb(216, 201, 133);
    color: rgb(94, 94, 94);
}