@import 'https://fonts.googleapis.com/css?family=Comfortaa|Dosis';

html, body {
    background: rgb(246, 255, 241);
}
.main-container {
    align-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 100px;
}
.container-top {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(14, 60px);
    grid-area: photo;
}

.photo {
    grid-column: 5/ span 8;
    grid-row: 1/9;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.name {
    grid-column: 7/ 11;
    grid-row: 2/3;
    background: rgba(246, 255, 241, 0.8);
    height: auto;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    grid-column: 7/ 11;
    grid-row: 4/5;
    background: rgba(246, 255, 241, 0.8);
    height: auto;
    padding: 10px;
    border-radius: 10px; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ou {
    grid-column: 7/ 11;
    grid-row: 6/7;
    background: rgba(246, 255, 241, 0.8);
    height: auto;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.quoi {
    grid-column: 6/ 12;
    grid-row: 8/ 11;
    background: rgba(245, 170, 102, 0.7);
    justify-self: stretch;
    height: auto;
    padding: 20px;
    border-radius: 10px; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prix {
    grid-column: 12/15;
    grid-row: 5/ 6;
    background: rgba(245, 170, 102, 0.7);
    padding: 10px;
    border-radius: 10px; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.creer {
    grid-column: 3/6;
    grid-row: 5/ 6;
    background: rgba(245, 170, 102, 0.7);
    padding: 10px;
    border-radius: 10px; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar-photo {
    border-radius: 50%;
    height: 50px;
    margin: 10px;
}
.who-comes {
    grid-column: 6/12;
    grid-row: 13/ 14;
    background: rgb(227, 255, 212);
    padding: 10px 10px 30px 10px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-bottom {
   margin-top: 30px;
}

.eve-people {
    margin-bottom: 50px;
}

.people p {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    margin: 50px 0;
}

#eve-people {
    display: inline-block;
    justify-content: center;
}

.eve-people-photo{
    border-radius: 50%;
    height: 50px;
    margin-bottom: 10px;
}

ul li {
    list-style-type: none;
    padding: 0 30px;
}


a { 
    color: #000;
}

a:hover{
    color: rgb(133, 133, 133);
    text-decoration: none;
}

.eve-comments p {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

.eve-comments {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
}

.avatar {
    border-radius: 50%;
    height: 20px;
    margin: 10px;
}

.comentaries {
    margin-top: 15px;
}
.comments-posts {
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    width: 80%;
    padding: 5px 20px;
    background: rgb(250, 250, 250);
}

span { 
    font-style: italic;
}
hr {
    width: 80%;
    margin: auto;
}
#post_contentPost {
    width: 60%;
    height: 60px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background: rgb(250, 250, 250);
    font-size: .8em;
}

label {
    margin: 0 30px 0 10px;
}

#posts, .btn{
    margin: auto;
}

.btn {
    width: 60%;
    margin: auto;
}

.btn-primary {
    color: #000;
    background-color: rgb(217, 255, 196);
    border-color: rgb(152, 204, 124);
}

.btn-primary:hover {
    color: rgb(102, 102, 102);
    background-color: rgb(246, 255, 241);
    border-color: rgb(152, 204, 124);
}

#post_save {
    margin-bottom: 50px;
}

.btn-info {
    color: #000;
    background-color: rgb(245, 170, 102);
    border-color: rgb(170, 109, 51);
    width: 36%;
    border-radius: 10px;
}

.btn-info:hover {
    background-color: rgb(238, 151, 70);
    border-color: rgb(170, 109, 51);
}

.btn-dark {
    width: 36%;
    margin-bottom: 50px;
    border-radius: 10px;
}

.btn-dark:hover {
    color: rgb(141, 141, 141);
}

/*dialog overlay*/
.c-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 2.4rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(black, .75);
  transition: .2s;
}

/*dialog box*/
.c-dialog__box {
  flex: 1;
  max-width: 48rem;
  margin: auto;
  padding: 2.4rem;
  background-color: white;
}

/* hidden dialog*/
.c-dialog[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
}